.col-nav-open {
  position: fixed;
  flex: 0 0 auto;
  flex-direction: column-reverse;
  z-index: 998;
  top: 0;
  height: 100%;
  width: 50vw;
  margin: 0;
  animation: 1s in-out forwards;
}

.col-nav-open-inner {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  border-right: 2px solid darkgray;
}

.nav-mobile-menu{
  position: absolute;
  padding: 2vw;
  z-index: 999;
  top: 0;
}
.nav-link:hover{
  background-color: lightgray;
  border: 1px solid darkgray;
}

@keyframes in-out {
  0% {
    width: 25vw;
    /* visibility: hidden; */
  }
  100% {
    width: 50vw;
    /* visibility: visible; */
  }
}
