<div *ngIf="navStatus" [ngClass]="mobileNavCol">
    <div class="col-nav-open-inner">
        <div class="mx-auto">
            <ul class="list-unstyled">
                <li *ngFor="let menu of menuItemList" class="list-group">
                    <a *ngIf="menu?.type!='dropdown'" class="list-group-item nav-item nav-link overflow-hidden"
                       href="{{menu.route}}">{{menu.name}}</a>

                    <div *ngIf="menu?.type==='dropdown'" class="list-group-item overflow-hidden">
                        <p class="dropdown-header ">
                            {{menu.name}}
                        </p>
                        <a *ngFor="let sub of menu?.subMenu" class="nav-item nav-link list-group-item overflow-hidden"
                           href="{{menu.route}}">{{sub.name}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
