<ul class="list-group">
  <li *ngFor="let request of xrequests|async" class="list-group-item common-box-shadow pt-2 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-12 text-lowercase small">
          <p class="request-category">{{request.category}}</p>
        </div>
        <div class="col-lg-4 col-md-2 col-sm-12 fw-bold">
          <p class="request-title">{{request.title}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-12 text-break">
          <a [href]="request.authorData?.email"
             class="link-info request-email ">{{request.authorData?.nickName}}</a>
        </div>
        <div class="col">
        </div>
        <div class="col-lg-4 col-md-2 col-sm-12 text-break small">
          <p class="request-date">{{request.dateTime | date:'dd-MM-yyyy @ HH:mm:ss'}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="request-content">{{request.content}}</p>
        </div>
      </div>

      <div class="row w-100 d-flex">
        <div class="col w-100 h-100 m-0 p-0 align-content-center flex-row">

          <div class="container-fluid p-0 m-0">
            <div class="row w-100 p-0 m-0 d-flex">
              <div *ngFor="let photo of request.photos" class="col col-6  p-2 m-0 flex-column request-image-container">
                <img [src]="photo" [alt]="'test'" height="100%" width="100%" class="request-image m-auto"/>
              </div>
            </div>
          </div>

          <div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-12 small text-break">
          <p class="request-tags">[{{request.tags}}]</p>
        </div>
      </div>
    </div>
  </li>
</ul>
