/deep/ .pagination{
    z-index:0;

}

/deep/ .pagination .page-link {
    z-index: 0;
   /* color: var(--fourth-color);*/
    color: gainsboro;
}

/deep/ .pagination .page-item.active .page-link {
   /* background: var(--second-color);
    color: ghostwhite;
    border: 1px solid var(--first-color); */
  background: var(--fourth-color);
  color: ghostwhite;
  border: 1px solid var(--fourth-color);;
}
.overview-container{
  padding: 0;
  margin: 12vh 0 0;
}
