.navbar {
  background-color: var(--fourth-color);
  /*border-bottom: 1vh var(--first-color) solid;*/
  border-bottom: 1vh var(--first-color) solid;
}

.nav-link {
  color: whitesmoke;
}

.nav-link {
  border-radius: 1vh;
}

.nav-link:hover {
  background-color: #3d3939;
}
