<xrequest-navigation [mobileNav]="mobileNav" class="sticky-top z-3"></xrequest-navigation>
<!--<button *ngIf="mobileNav" class="sticky-top z-5 float-end  mr-5 btn-dark btn btn-sm" (click)="toggleNav()">nav</button>-->
<div class="container-fluid">
  <div class="row">
    <div [ngClass]="[mobileNavCol]">
      [Mobile nav menu]
    </div>
    <div class="col">
      <xrequest-overview></xrequest-overview>
    </div>
  </div>
</div>
<!-- MOBILE -->
<!--<div *ngIf="mobileNav" class="container w-100 z-0">
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
      <mat-sidenav-container>
        <mat-sidenav mode="side" [opened]="navStatus">
          blablabla
        </mat-sidenav>
        <mat-sidenav-content>
          <xrequest-overview></xrequest-overview>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>

<div *ngIf="!mobileNav" class="container w-100 z-0">
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
      <xrequest-overview></xrequest-overview>
    </div>
  </div>
</div>
-->
