.mobile-nav-container {
  width: 100%;
  height: 10vh;
  background-color: var(--fourth-color);
  border-bottom: 1vh var(--first-color) solid;
}

.mobile-nav-button {
  border: 1vw var(--third-color) solid;
  color: var(--first-color);
  background-color: var(--fourth-color);
}

.mobile-nav-button:active {
  border: 1vw var(--first-color) solid;
  color: whitesmoke;
}

.mobile-nav-button:hover {
  background-color: #211c1c;
}
