/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --first-color: #f70776;

  --second-color: #c3195d;


  --third-color: #680747;

  --fourth-color: #141010;
}

.container {
  display: flex;
  flex-flow: column wrap;
}

mat-sidenav-container {
  overflow: unset;
}

mat-sidenav-content {
  overflow: unset;
}

body {
  margin: 0;
  min-height: 100%;
  /*background-color: ghostwhite;*/
  /*background: rgb(248,248,255);*/
  /*background: linear-gradient(90deg, rgba(248,248,255,1) 0%, rgba(20,16,16,1) 25%, rgba(20,16,16,1) 75%, rgba(248,248,255,1) 100%);*/
  /*background: rgb(20,16,16);*/
  /*background: linear-gradient(90deg, rgba(20,16,16,1) 0%, rgba(248,248,255,1) 10%, rgba(248,248,255,1) 90%, rgba(20,16,16,1) 100%);*/
  /*background: rgb(20,16,16);*/
  /*background: linear-gradient(0deg, rgba(20,16,16,1) 0%, rgba(248,248,255,1) 100%);*/
  background: rgb(20,16,16);
  background: linear-gradient(0deg, rgba(20,16,16,0.19931722689075626) 0%, rgba(248,248,255,0.6839110644257703) 25%, rgba(248,248,255,1) 97%, rgba(195,25,93,0.33657212885154064) 100%);
}

.list-group-item {
  border: 0;
  background-color: whitesmoke;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border-radius: 0;
}
.list-group-item:first-child {
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 0;
}
.list-group-item:last-child {
  border-radius: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.common-box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
