/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --first-color: #f70776;

  --second-color: #c3195d;


  --third-color: #680747;

  --fourth-color: #141010;
}

.container {
  display: flex;
  flex-flow: column wrap;
}

mat-sidenav-container {
  overflow: unset;
}

mat-sidenav-content {
  overflow: unset;
}

body {
  background-color: ghostwhite;
}

.list-group-item {
  border: 0;
  background-color: whitesmoke;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border-radius: 0;
}
.list-group-item:first-child {
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 0;
}
.list-group-item:last-child {
  border-radius: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.common-box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
